# Node modules
node_modules/
**/node_modules/

# Build output
dist/
build/
**/dist/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store

# IDE / Editor folders
.vscode/
.idea/

# Env (CRITICAL)
.env
.env.*
**/.env
**/.env.*

# Optional caches
.cache/
coverage/

# Generated audio files
backend/audios/
backend/audios/*.mp3
backend/audios/*.wav
